:root{
  --color-primary-1: hsl(12, 88%, 59%); /*Bright Red*/
  --color-primary-2: hsl(228, 39%, 23%); /*Dark Blue*/
  --color-neutral-1: hsl(227, 12%, 61%); /*Dark Grayish Blue*/
  --color-neutral-2: hsl(233, 12%, 13%); /*Very Dark Blue*/
  --color-neutral-3: hsl(13, 100%, 96%); /*Very Pale Red*/
  --color-neutral-4: hsl(0, 0%, 98%); /*Very Light Gray*/

  --margin-sm: 2rem;
  --margin-md: 3rem;
  --margin-lg: 14rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /*make 1rem = 10px so that calculations are easier */
}

body {
  background-image: url('images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: right -100px top -150px;
  background-size: 50%;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.6rem; /* 16px; */
  color: var(--color-neutral-1);
  font-weight: 400;
}

/*** RE-USABLE CTA-BTN and sub-headings***/
.cta-btn{
  border-radius: 30px;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem 3rem;
  text-decoration: none;
}

.cta-btn:hover{
  opacity: .8;
}

.cta-btn-orange{
  background-color: var(--color-primary-1);
  color: white;
  box-shadow: 0 10px 10px rgba(242, 95, 58, .2);
}

.cta-btn-white{
  background-color: white;
  color: var(--color-primary-1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

.sub-heading{
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.2;
}

.sub-heading--blue{
  color: var(--color-primary-2);
}

.sub-heading--white{
  color: white;
}

/*** HEADER SECTION ***/
.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem var(--margin-lg);
}

.menu-dropdown{
  position: relative;
}

/*Hide checkbox - this "invisible" checkbox is used to toggle the menu on smaller screens*/
.menu-checkbox {
    display: none;
}

.menu-checkbox:checked ~ .header-nav {
    display: block;
}

.menu-checkbox:checked ~ .menu-toggle > .menu-toggle-close {
    display: block;
}

.menu-checkbox:checked ~ .menu-toggle > .menu-toggle-open {
    display: none;
}

.menu-toggle {
    display: none;
    padding: 2rem;
    text-align: end;
}

.header-nav{
  display: flex;
  align-items: center;
}

.header-nav ul{
  display: flex;
  list-style: none;
  margin-right: auto;
  width: 65%;
}

.header-link{
  color: var(--color-primary-2);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 2rem 1.5rem;
  text-decoration: none;
  white-space: nowrap;
}

.header-link:hover{
  color: var(--color-neutral-1);
  text-decoration: none;
}

/*** INTRO SECTION ***/
.intro-section{
  padding: 6rem var(--margin-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-section__txt{
  width: 50%;
}

.intro-section__txt h1{
  color: var(--color-primary-2);
  font-size: 5.6rem;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.2;
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.intro-section__txt p{
  margin-bottom: 4.5rem;
  margin-right: 25rem;
}

.intro-section__img {
  width: 50%;
}

.intro-section__img img{
  display: block;
  max-height: 525px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: right;
}

/*** FEATURES SECTION ***/
.features-section{
  display: flex;
  justify-content: space-between;
  padding: 6rem var(--margin-lg);
}

.features-section__summary{
  width: 40%;
}

.features-section__summary p{
  margin-top: 2rem;
  margin-right: 10rem;
}

.features-section__items{
  width: 46%;
}

.features-section__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-items: start;
  align-items: center;
  grid-gap: 15px 30px;
  margin-bottom: 3rem;
}

.feature-section__title--num{
  background-color: var(--color-primary-1);
  color: white;
  font-weight: 700;
  padding: .5rem 2rem;
  border-radius: 30px;
}

.feature-section__title--txt{
  color: var(--color-primary-2);
  font-weight: 700;
}

.features-section__item p{
  grid-column: 2/-1;
}

/*** TESTIMONIALS SECTION***/
.testimonials-section{
  text-align: center;
  padding: 5rem 0;
  margin-bottom: 5rem;
}

.testimonials-section h2{
  margin-bottom: 3rem;
}

.testimonials-carousel{
  margin: 5rem 0;
}

.testimonials-carousel__slides{
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-top: 3rem;/*so that the top of avatar is visible*/
  padding-bottom: 3rem;
}

.testimonials-carousel__slide{
  background-color: var(--color-neutral-4);
  flex: 0 0 23%;
  padding: 0 3rem 3rem 3rem;
}

.testimonials-carousel__slide:not(:last-child){
  margin-right: 2rem;
}

.testimonials-carousel__slide img{
  width: 60px;
  transform: translateY(-50%);
}

.testimonials-carousel__slide h4{
  padding-bottom: 3rem;
}

.testimonials-carousel__links{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  visibility: hidden;
}

.testimonials-carousel__link{
  background-color: white;
  border: 2px solid var(--color-primary-1);
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.testimonials-carousel__link:not(:last-child) {
  margin-right: 1rem;
}

.testimonials-carousel__link:hover {
  background-color: var(--color-primary-1);
}

.testimonials-carousel__link--active {
  background-color: var(--color-primary-1);
}

.testimonials-carousel__link a{
  color: transparent;
}

/*** CTA SECTION ***/
.cta-section{
  background-color: var(--color-primary-1);
  background-image: url('images/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem var(--margin-lg);
}
.cta-section h1{
  width: 35%;
}
/*** FOOTER SECTION ***/
.footer-section{
  background-color: var(--color-neutral-2);
  padding: 5rem var(--margin-lg);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.footer-nav{
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
}

.footer-nav ul{
  list-style: none;
}

.footer-nav ul:not(:last-child){
  margin-right: 12rem;
}

.footer-nav li:not(:last-child){
  margin-bottom: 1.5rem;
}

.footer-nav a{
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer-nav a:hover{
  color: var(--color-primary-1);
}

.social {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.social a:not(:last-child){
  margin-right: 2rem;
}

.social img:hover{
  filter: invert(.5) sepia(1) saturate(6) hue-rotate(-30deg);
  /* filter: url(#999); */
}

.footer-form{
  justify-self: right;
}

.footer-form-email{
  border: none;
  border-radius: 30px;
  padding: 1rem 3rem;
  margin-right: 1rem;
}

.footer-form-email:focus{
  outline: none;
}

.footer-form-btn{
  border: 0;
}

.footer-copyright{
  font-size: 1.2rem;
  justify-self: right;
}

.attribution{
  grid-column: span 3;
  justify-self: center;
  margin-top: 3rem;
}

.attribution a{
  color: white;
}

.attribution a:hover{
  color: var(--color-primary-1);
}
/*** MEDIA QUERIES ***/
@media only screen and (max-width: 1200px) {
  body{
    background-size: 70%;
  }

/*** HEADER SECTION ***/
  .header-section{
    padding: 2rem var(--margin-md);
  }

/*** INTRO SECTION ***/
  .intro-section{
    padding: 3rem var(--margin-md);
  }

/*** FEATURES SECTION ***/
  .features-section{
    padding: 6rem var(--margin-md);
  }

  /*** TESTIMONIALS SECTION***/
  .testimonials-section{
    padding: 5rem 0;
  }

/*** CTA SECTION ***/
  .cta-section{
    padding: 5rem var(--margin-md);
  }

  /*** FOOTER SECTION ***/
  .footer-section{
    padding: 5rem var(--margin-md);
  }
}

@media only screen and (max-width: 900px) {
  body{
    background-size: contain;
  }

/*** HEADER SECTION ***/
  .cta-btn-nav{
    display: none;
  }

  .sub-heading{
    font-size: 2.8rem;
  }

/*** INTRO SECTION ***/
  .intro-section{
    flex-direction: column;
  }

  .intro-section__txt{
    text-align: center;
    order: 1;
    width: 100%;
  }

  .intro-section__txt h1{
    font-size: 4.2rem;
    margin-right: 0;
  }

  .intro-section__txt p{
    margin-right: 0;
  }

  .intro-section__img{
    width: 100%;
  }

  .intro-section__img img{
    object-position: center;
  }

/*** FEATURES SECTION ***/
  .features-section{
    flex-direction: column;
  }

  .features-section__summary{
    width: 100%;
    text-align: center;
  }

  .features-section__summary p{
    margin-bottom: 4rem;
    margin-right: 0;
  }

  .features-section__items{
    width: 100%;
  }

  .features-section__item{
    grid-column-gap: 0;
  }

  .feature-section__title--txt{
    align-self: stretch;
    justify-self: stretch;
    background-color: var(--color-neutral-3);
    padding-left: 30px;
    width: 120%;
    transform: translateX(-20px);
    z-index: -1;
  }

  .features-section__item p{
    grid-column: span 2;
  }

  .feature-section__title--num{
    font-size: 1.4rem;
  }

  .feature-section__title--txt{
    font-size: 1.8rem;
  }
  /*** TESTIMONIALS SECTION ***/
  .testimonials-carousel__slide{
    flex: 0 0 100%;
  }

  .testimonials-carousel__links{
    visibility: visible;
  }
  /*** CTA SECTION ***/
  .cta-section{
    background-image: url('images/bg-simplify-section-mobile.svg');
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .cta-section h1{
    width: 80%;
    margin-bottom: 3rem;
  }

  /*** FOOTER SECTION ***/
  .footer-section{
    justify-items: center;
    grid-row-gap: 4rem;
  }

  .footer-logo{
    grid-column: 1 /-1;

  }

  .social{
    grid-column: 1 /-1;
    grid-row: 3 / 4;
  }

  .footer-nav{
    grid-column: 1 /-1;
    grid-row: 2 / 3;
  }

  .footer-form{
    grid-column: 1 /-1;
    grid-row: 1 / 2;
    justify-self: center;

  }

  .footer-copyright{
    grid-column: 1 /-1;
    justify-self: center;

  }
  .attribution{

  }
}

@media only screen and (max-width: 600px) {
  body{
    background-position: right -50px top -50px;
  }

/*** HEADER SECTION ***/
  .header-section{
    padding: 0 var(--margin-sm);
  }

  .menu-toggle{
    display: block;
  }

  .menu-toggle-close, .cta-btn-nav{
    display: none;
  }

  .header-nav{
    background-image: linear-gradient(to top, rgba(50, 57, 82, .9), transparent);
    display: none;
    padding: 3rem;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden; /*prevent scrolling until menu closed*/
    z-index: 20;
  }

  .header-nav ul{
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }

  .header-nav ul > li{
    margin: 1.2rem;
  }

  .header-link{
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    text-decoration: none;
  }

/*** INTRO SECTION ***/
  .intro-section{
    padding: 3rem var(--margin-sm);
  }

/*** FEATURES SECTION ***/
  .features-section{
    padding: 6rem var(--margin-sm);
  }

  /*** TESTIMONIALS SECTION***/
  .testimonials-section{
    padding: 5rem var(--margin-sm);
  }

}
